<form method="post" role="form">
    {% csrf_token %}
{% if form.management_form %}
    {{ form.management_form }}
    {% for sub_form in form %}
        <ul>
            {{ sub_form.as_ul }}
        </ul>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
{% else %}
    <fieldset>
        <legend>{{ title }}</legend>
    {% for field in form %}
        <div class="form-group">
            <div class="form-group">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {% if field.errors %}
                <span class="help-inline errorlist pull-right">
                    <span class="glyphicon glyphicon-warning-sign" title="Form Error"></span>
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                </span>
            {% endif %}
                {{ field }}
            {% if field.help_text %}
                <p class="help-inline"><small>{{ field.help_text }}</small></p>
            {% endif %}
            </div>
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button
    </fieldset>
{% endif %}
</form>
