{% extends 'contacts/contact_base.html' %}
{% block contacts_content %}
    <div class="row">&nbsp;</div>
    <div class="row col-sm-10">
        <div class="panel panel-primary noborder">
            <div class="row panel-heading">
                <h1>Contacts - Addresses</h1>
            </div>
            <div class="row panel-footer text-large"><strong>
                {{ contact.title }}
                {{ contact.name }}
              {% if contact.nick %}
                ({{ contact.nick }})
              {% endif %}
            </strong></div>
            <div class="panel-body">
                {% include 'fragments/bootstrap_formset.html' %}
            </div>
        </div>
    </div>
{% endblock %}
